*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.NavigationBar{
    width: 300px;
    height: 100vh;
    transform: translate(-310px) ;
 background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    transition: all 0.5s ease;
    position: absolute;
    z-index: 3;
}

.NavigationBar.responsive_navbar{
    transform: translate(-15px) ;
}

@media screen and (min-width: 991px) {
    .NavigationBar{
      display: none;
    }
   
  }
  


